#DangNhap {
    
    width:500px; 
    height:200px; 
    margin:10px auto;
    padding:0px 90px;
    border:5px solid #5bbdc8;
    border-radius:5px 5px;
    box-sizing:border-box;

}

.tieude{
    display:block;
    width:120px;
    margin:10px 120px;
    font-size:larger;
}

.btnDN
{
    background-color: white;
    margin:10px 10px;
    border-radius:10px 10px;
    box-shadow:2px 2px #5bbdc8;
}

.btnDN:hover {
    background-color:orange;
}

.textBox{
    border-radius:10px 10px;
    margin-left:10px;
    width: 200px;
    height: 20px;
}

td{
    font-weight:bold;
    margin-right:20px;
}